body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: gray;
}

.header-part {
    background-image: url(images/death-note.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 90%;
}

.anime-logo {
    height: 100px;
    width: 100px;
}

.logo-heading {
    color: chartreuse;
}

.watch-now {
    text-align: center;
    text-decoration: none;
    color: rgb(248, 221, 217);
    background-image: linear-gradient(blue, green);
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 600;

}

.logo-heading h1 {
    color: darkorange;
    font-size: 20px;
}

.list {
    list-style: none;
    margin-right: 60px;
    display: flex;
    padding: 10px;
    color: gold;

}

.list1 {
    margin-left: 10px;
    margin-right: 70px;
}

.list2 {
    margin-left: 10px;
    margin-right: 70px;
}

.list3 {
    margin-left: 10px;
    margin-right: 70px;
}


p {
    color: cyan;
    margin-right: 60%;
}

.trending-heading {
    color: aliceblue;
}

.vartical-bar {
    margin-left: 30px;
    color: crimson;
    font-weight: 700;
}

.trending-series {
    display: flex;
    color: black;


}

.trending-series p {
    color: black;
    display: inline;

}

.naruto img {
    width: 250px;
    height: 250px;
}

.naruto {
    border: 1px solid yellow;
    background-color: aqua;
    text-align: justify;
    width: 50%;

    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 100px;
}

#naruto {
    margin-top: 100px;
}

.black-clover img {
    width: 250px;
    height: 250px;
}

.black-clover {
    border: 1px solid yellow;
    background-color: aqua;
    background-color: aqua;
    text-align: justify;
    width: 50%;
    margin: 10px;
    padding-bottom: 64px;

}

.one-piece img {
    width: 250px;
    height: 250px;
}

.one-piece {
    border: 1px solid yellow;
    background-color: aqua;
    background-color: aqua;
    text-align: justify;
    margin: 10px;
    width: 50%;
    height: 50%;
    padding-bottom: 90px;

}

.spy-family img {
    width: 250px;
    height: 250px;
}

.spy-family {
    border: 1px solid yellow;
    background-color: aqua;
    background-color: aqua;
    text-align: justify;
    width: 50%;
    height: 50%;
    margin: 10px;
    padding-bottom: 40px;
}

.ao-haru img {
    width: 250px;
    height: 250px;
}

.ao-haru {
    border: 1px solid yellow;
    background-color: aqua;
    background-color: aqua;
    text-align: justify;
    width: 50%;
    margin-top: 10px;
    padding-bottom: 0px;

}

.series {
    margin-top: 100px;
}

.middle-part {
    display: flex;
}

.bubble img {
    width: 250px;
    height: 250px;
}

.bubble {
    background-color: aqua;
    text-align: justify;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 100px;
}

.your-name img {
    width: 250px;
    height: 250px;
}

.your-name {
    background-color: aqua;
    text-align: justify;
    width: 50%;
    height: 10%;
    margin: 10px;
    padding-bottom: 64px;

}

.gardens-of img {
    width: 250px;
    height: 250px;
}

.gardens-of {
    background-color: aqua;
    text-align: justify;
    margin: 10px;
    width: 50%;
    height: 50%;
    padding-bottom: 90px;
}

.weather img {
    width: 250px;
    height: 250px;
}

.weather {
    background-color: aqua;
    text-align: justify;
    width: 50%;
    height: 50%;
    margin: 10px;
    padding-bottom: 40px;
}

.silent-voice img {
    width: 250px;
    height: 250px;
}

.silent-voice {
    background-color: aqua;
    text-align: justify;
    width: 50%;
    margin-top: 10px;
    padding-bottom: 0px;
}

.middle-part p {
    color: black;
    display: inline;
}

.middle-part {
    padding-bottom: 70px;
}

.footer img {
    width: 80px;
    height: 80px;
    text-align: center;
    margin-right: 60%;
}

.footer {
    margin-left: 45%;
    text-align: center;
}